<h1>Hello World !</h1>
<h2>{{appName}}</h2>
<h1>{{name}}</h1>
<h2>{{getName()}}</h2>
<h2>{{obj.name}}</h2>
<h2>{{arr.length}}</h2>
<h2>{{siteUrl}}</h2>
<h2>{{10+10}}</h2>

<app-user-list></app-user-list>

<h1>Call function in angular</h1>
<button (click)="getName()">Get my name</button>

<button (click)="myEvent('this is click event')">Click Me</button>
<br><br>
<input type="text" #box (keyup)="myEvent(box.value)" placeholder="keyup" />
<input type="text" #box (keydown.enter)="myEvent(box.value)" placeholder="keydown" />
<input type="text" #box (blur)="myEvent('blur event')" placeholder="blur">
<h1 (mouseover)="myEvent('mouseover')" style="background-color:skyblue">mouseover</h1>
<h1 (mouseleave)="myEvent('mouseleave')" style="background-color:skyblue">mouseleave </h1>