<!-- <h1>Hello World !</h1>
<h2>{{appName}}</h2>
<h1>{{name}}</h1>
<h2>{{getName()}}</h2>
<h2>{{obj.name}}</h2>
<h2>{{arr.length}}</h2>
<h2>{{siteUrl}}</h2>
<h2>{{10+10}}</h2>

<app-user-list></app-user-list>

<h1>Call function in angular</h1>
<button (click)="getName()">Get my name</button>

<button (click)="myEvent('this is click event')">Click Me</button>
<br><br>
<input type="text" #box (keyup)="myEvent(box.value)" placeholder="keyup" />
<input type="text" #box1 (keydown.enter)="myEvent(box1.value)" placeholder="keydown" />
<input type="text" (blur)="myEvent('blur event')" placeholder="blur">
<h1 (mouseover)="myEvent('mouseover')" style="background-color:skyblue">mouseover</h1>
<h1 (mouseleave)="myEvent('mouseleave')" style="background-color:skyblue">mouseleave </h1>

<input type="text" (keyup)="getVal($any($event.target).value)" />

<input type="text" #box>

<button (click)="getValueFromButtonClick(box.value)">Get Value</button>

<h1>{{btnval}}</h1>

<h1>{{currentVal}}</h1>

<input type="text" [disabled]="disabledBox" [value]="name" />
<br>
<input type="text" disabled={{disabledBox}} value={{name}} />
<br>
<button (click)="enableBox()">Enable TextBox </button>
<h1 *ngIf="show else elseBlock">
    if Block
</h1>

<ng-template #elseBlock>
    <h1>else block</h1>
</ng-template>
<h1>Switch Case in Angular </h1>
<div [ngSwitch]="color">
    <h2 style="background-color: red;" *ngSwitchCase="'red'">
        red color
    </h2>
    <h2 style="background-color: green;" *ngSwitchCase="'green'">
        green color
    </h2>
    <h2 style="background-color: blue;" *ngSwitchCase="'blue'">
        blue color
    </h2>
    <h2 style="background-color: yellow;" *ngSwitchCase="'yellow'">
        yellow color
    </h2>

</div>
<h1>For loop</h1>
 <h4 *ngFor="let item of data">
    Name : {{item.name}}, Age : {{item.age}}
</h4> -->
<!-- 
<table border="1">
    <tr>
        <td>
            Name
        </td>
        <td>
            Age
        </td>
        <td>
            Email
        </td>

    </tr>
    <tr *ngFor="let item of data">
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>{{item.email}}</td>
    </tr>
</table>
<br><br>
<form #simpleForm="ngForm" (ngSubmit)="getUserValue(simpleForm.value)">
    <input type="text" ngModel name="username" placeholder="enter name"> <br><br>
    <input type="text" ngModel name="age" placeholder="enter age"> <br><br>
    <input type="text" ngModel name="address" placeholder="enter address"> <br><br>
    <input type="password" ngModel name="password" placeholder="enter password"> <br><br>

    <button>Get User Values</button>

</form>  -->

<!-- header footer 
<app-header></app-header>
<h1>Make Header Footer in Angular</h1>
<app-footer></app-footer> -->

<h1>Bootstrap in angular 10</h1>

<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</p>

<div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
  </label>
</div>